@model HomeIndexViewModel

@{
    ViewData["Title"] = "Active Courses";
}

<div class="row" style="margin-top:3rem;">
    <form asp-action="Search">
        <div class="col-md-6">
            <input asp-for="SearchText" class="form-control" placeholder="Search..." />
        </div>
        <div class="col-md-2">
            <label asp-for="SearchInCourses"></label>
            <input asp-for="SearchInCourses" />
        </div>
        <div class="col-md-2">
            <label asp-for="SearchInUsers"></label>
            <input asp-for="SearchInUsers" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </form>
</div>
<br />

<div class="jumbotron">
    <h1 class="text-center">Welcome to our learning system!</h1>
</div>

<div class="container">
    <div class="row">
        @await Html.PartialAsync("_CourseListingPartial", Model.Courses)
    </div>
</div>
    