@model IEnumerable<CourseListingServiceModel>

@{
    ViewData["Title"] = "Active Courses";
}

<div class="jumbotron">
    <h1>Welcome to our learning system!</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var course in Model)
        {
        <div class="col-md-3" style="display:inline-block;">
            <h3>@course.Name</h3>
            <p>
                Start: <b>@course.StartDate.ToShortDateString()</b>
                <br/>
                End: <b>@course.EndDate.ToShortDateString()</b>
            </p>
            <a href="#">Details</a>
        </div>
        }
    </div>
</div>